body {
  margin: 0px;
  padding: 0px;
  background: url(/images/body.jpg) top no-repeat;
  background-size: cover;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  background: url(/images/header.jpg) bottom;
  background-size: cover;
  border-bottom: rgb(10, 100, 10) solid 10px;
}

header a {
  text-decoration: none;
  color: rgb(110, 210, 180);
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
}

header a:hover {
  color: #0085a1;
}

/* h1 { */
/* color: aliceblue; */
/* color: rgb(110, 210, 180); */
/* font-size: 4rem; */
/* font-family: "Times New Roman", Times, serif; */
/* } */

.news {
  /* background-color: #fff; */
  padding: 50px 0 32px;
  /* background: url(/images/news_background.jpg); */
  /* background-size: cover; */
  background-color: initial;
}

.news_content {
  height: auto;
  padding: 50px 0 32px;
  background-color: initial;
}

.news_content p {
  font-size: large;
}

.news_content article img {
  width: auto;
  max-width: 768px;
  height: auto;
  max-height: 700px;
}

article {
  width: 768px;
  margin: 0 auto 32px;
  padding: 6px 15px;
  /* border-bottom: 1px solid rgb(128, 128, 128); */
  border-radius: 20px;
  background-color: rgb(110, 210, 180);
}

article a {
  color: rgb(7, 13, 98);
  text-decoration: none;
}

article a:hover {
  color: #0085a1;
}

article h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 5px;
}

.article-meta {
  color: rgb(110, 120, 120);
  margin-bottom: 5px;
}

article img {
  height: 300px;
  /* object-fit: cover; */
  display: block;
  margin: 0 auto;
}

footer {
  padding-top: 20px;
  padding-bottom: 60px;
  text-align: center;
}

footer .links {
  margin-bottom: 50px;
}

footer .links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgb(110, 210, 180);
  border-radius: 5px;
}

footer .links > a:hover {
  color: #0085a1;
}

.copyright {
  width: fit-content;
  margin: 0 auto;
  padding: 0px 25px;
  color: rgb(108, 117, 125);
  font-family: "Times New Roman", Times, serif;
  background: rgb(110, 210, 180);
  border-radius: 5px;
}

div {
  margin-bottom: 20px;
  margin-right: 10px;
}
